In [1]:
# Import our dependencies
import pandas as pd
import matplotlib.pyplot as plt
# from geopy import Nominatim
%matplotlib inline
# import googlemaps

In [2]:
# ****** DATASET 1 : THE FIRE DATA *******

#  Import and read the charity_data.csv.
import pandas as pd 
fire_df = pd.read_csv("Data/California_Fire_Incidents.csv")
fire_df[fire_df["CountyIds"] == '6,11,17,23']["Name"]

1054    Ranch Fire (Mendocino Complex)
1055    Ranch Fire (Mendocino Complex)
1056    Ranch Fire (Mendocino Complex)
1057    Ranch Fire (Mendocino Complex)
Name: Name, dtype: object

In [3]:
fire_df = fire_df.drop(["Active", 
"AdminUnit", 
"AirTankers",
"CanonicalUrl", 
"ConditionStatement", 
"ControlStatement",
"CrewsInvolved",
"Dozers",
"Engines",
"Helicopters",
"Extinguished",
"Fatalities",
"Featured",
"Final",
"FuelType",
"Injuries",
"Location",
# "Name",
"PercentContained",
"Public",
"SearchDescription",
"SearchKeywords",
"Status",
"StructuresDamaged",
"StructuresDestroyed",
"StructuresEvacuated",
"StructuresThreatened",
"UniqueId",
"Updated",
"WaterTenders"
], axis=1)
fire_df.head()

,AcresBurned,ArchiveYear,CalFireIncident,Counties,CountyIds,Latitude,Longitude,MajorIncident,Name,PersonnelInvolved,Started
0,257314.0,2013,True,Tuolumne,55,37.857000,-120.086000,False,Rim Fire,NaN,2013-08-17T15:25:00Z
1,30274.0,2013,True,Los Angeles,19,34.585595,-118.423176,False,Powerhouse Fire,NaN,2013-05-30T15:28:00Z
2,27531.0,2013,True,Riverside,33,33.709500,-116.728850,False,Mountain Fire,NaN,2013-07-15T13:43:00Z
3,27440.0,2013,False,Placer,31,39.120000,-120.650000,False,American Fire,NaN,2013-08-10T16:30:00Z
4,24251.0,2013,True,Ventura,56,0.000000,0.000000,True,Springs Fire,2167.0,2013-05-02T07:01:00Z

In [4]:
# LOOK AT UNDECIDED COUNTIES
[(column, fire_df[column].nunique()) for column in fire_df]

[('AcresBurned', 634),
 ('ArchiveYear', 7),
 ('CalFireIncident', 2),
 ('Counties', 59),
 ('CountyIds', 79),
 ('Latitude', 1441),
 ('Longitude', 1448),
 ('MajorIncident', 2),
 ('Name', 1193),
 ('PersonnelInvolved', 151),
 ('Started', 1597)]

In [5]:
[(column, fire_df[column].unique()) for column in fire_df[["Counties","CountyIds"]]]

[('Counties',
  array(['Tuolumne', 'Los Angeles', 'Riverside', 'Placer', 'Ventura',
         'Fresno', 'Siskiyou', 'Humboldt', 'Tehama', 'Shasta', 'San Diego',
         'Kern', 'Sonoma', 'Contra Costa', 'Butte', 'Tulare',
         'Santa Barbara', 'Mariposa', 'Monterey', 'El Dorado',
         'San Bernardino', 'Plumas', 'Modoc', 'San Luis Obispo', 'Madera',
         'Inyo', 'Napa', 'San Benito', 'San Joaquin', 'Lake', 'Alameda',
         'Glenn', 'Yolo', 'Sacramento', 'Stanislaus', 'Solano', 'Merced',
         'Mendocino', 'Lassen', 'Amador', 'Yuba', 'Nevada', 'Santa Clara',
         'Calaveras', 'San Mateo', 'Orange', 'Colusa', 'Trinity',
         'Del Norte', 'Mono', 'Alpine', 'Sutter', 'Kings', 'Sierra',
         'Santa Cruz', 'Marin', 'Mexico', 'State of Oregon',
         'State of Nevada'], dtype=object)),
 ('CountyIds',
  array(['55', '19', '33', '31', '56', '10', '47', '12', '52', '45', '37',
         '15,56', '49', '7', '4', '54', '42', '22', '33,', '27', '15', '9',
         '36', '32', '25', '40', '20', '14', '28', '35', '39', '17', '1',
         '11', '57', '9,34', '50', '48', '24', '23', '18', '3', '58', '29',
         '43', '5', '41', '30', '49,48,17,6', '28,17', '3,9', '53', ',40',
         '8', '17,28', '14,26', '26', '34', '2', '9,31', '51', '42,56',
         '28,49', '28,48', '16', '27,40', '46', '44', '6', '21',
         '6,11,17,23', '45,53', '19,56', '28,57', '6,17,23', '62', '61',
         '59', '62,37'], dtype=object))]

In [6]:
fire_df[fire_df["CountyIds"] == '6,11,17,23']

,AcresBurned,ArchiveYear,CalFireIncident,Counties,CountyIds,Latitude,Longitude,MajorIncident,Name,PersonnelInvolved,Started
1054,410203.0,2018,True,Colusa,"6,11,17,23",39.243283,-123.103367,True,Ranch Fire (Mendocino Complex),NaN,2018-07-27T12:05:00Z
1055,410203.0,2018,True,Glenn,"6,11,17,23",39.243283,-123.103367,True,Ranch Fire (Mendocino Complex),NaN,2018-07-27T12:05:00Z
1056,410203.0,2018,True,Lake,"6,11,17,23",39.243283,-123.103367,True,Ranch Fire (Mendocino Complex),NaN,2018-07-27T12:05:00Z
1057,410203.0,2018,True,Mendocino,"6,11,17,23",39.243283,-123.103367,True,Ranch Fire (Mendocino Complex),NaN,2018-07-27T12:05:00Z

In [7]:
fire_df[fire_df["CountyIds"] == '6']

,AcresBurned,ArchiveYear,CalFireIncident,Counties,CountyIds,Latitude,Longitude,MajorIncident,Name,PersonnelInvolved,Started
841,70.0,2017,True,Colusa,6,39.012240,-122.201270,True,Sand Fire,76.0,2017-07-17T13:17:00Z
1218,75.0,2018,True,Colusa,6,39.297600,-122.512012,True,Stony Fire,NaN,2018-07-04T13:14:00Z
1599,20.0,2019,True,Colusa,6,39.088333,-122.309167,True,Spring Fire,65.0,2019-08-14T12:52:00Z

In [8]:
# EXPORT FIRE TO CSV

fire_df.to_csv('Clean_Data/fire.csv')

In [78]:
# ****** DATASET 2 : THE ENVIRONMENTAL DATA *******

env_df = pd.read_csv("Data/all_env_conditions.csv")
env_df = env_df.drop(["Wind Run (miles)", "Target", "CIMIS Region"], axis=1)


env_df

,Stn Id,Stn Name,Date,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Avg Soil Temp (F)
0,2,FivePoints,1/1/2018,0.06,0.00,219.0,7.3,63.4,35.3,47.8,82.0,46.0,65.0,36.6,3.3,51.1
1,2,FivePoints,1/2/2018,0.04,0.00,127.0,7.4,59.8,37.7,47.2,80.0,52.0,67.0,36.7,3.1,51.3
2,2,FivePoints,1/3/2018,0.04,0.00,125.0,8.4,61.1,37.3,49.9,79.0,49.0,68.0,39.9,4.5,51.3
3,2,FivePoints,1/4/2018,0.07,0.01,219.0,11.6,69.2,48.7,56.8,94.0,52.0,74.0,48.5,5.8,53.0
4,2,FivePoints,1/5/2018,0.07,0.00,239.0,12.7,73.8,47.5,59.8,94.0,49.0,72.0,50.8,4.2,54.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128120,262,Linden,9/14/2020,0.14,0.00,420.0,15.4,84.3,53.7,66.3,95.0,39.0,70.0,56.2,3.4,69.4
128121,262,Linden,9/15/2020,0.15,0.00,430.0,15.1,86.8,49.6,66.0,96.0,31.0,69.0,55.7,2.7,69.0
128122,262,Linden,9/16/2020,0.15,0.00,445.0,16.2,89.0,53.6,68.0,97.0,30.0,69.0,57.6,3.3,69.0
128123,262,Linden,9/17/2020,0.16,0.00,447.0,16.6,88.1,53.3,70.4,97.0,35.0,65.0,58.3,3.3,69.5
128124,262,Linden,9/18/2020,0.14,0.00,395.0,16.1,81.6,54.7,68.4,95.0,36.0,68.0,57.4,4.0,70.5

In [79]:
env_df_dailies = pd.read_csv("Data/Dailies/3march.csv")
env_df_dailies = env_df_dailies.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)

env_df_dailies2 = pd.read_csv("Data/Dailies/3june.csv")
env_df_dailies2 = env_df_dailies2.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies2)

env_df_dailies3 = pd.read_csv("Data/Dailies/3sept.csv")
env_df_dailies3 = env_df_dailies3.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies3)

env_df_dailies4 = pd.read_csv("Data/Dailies/3december.csv")
env_df_dailies4 = env_df_dailies4.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies4)

env_df_dailies5 = pd.read_csv("Data/Dailies/4march.csv")
env_df_dailies5 = env_df_dailies5.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies5)

env_df_dailies6 = pd.read_csv("Data/Dailies/4june.csv")
env_df_dailies6 = env_df_dailies6.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies6)

env_df_dailies7 = pd.read_csv("Data/Dailies/4sept.csv")
env_df_dailies7 = env_df_dailies7.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies7)

env_df_dailies8 = pd.read_csv("Data/Dailies/4december.csv")
env_df_dailies8 = env_df_dailies8.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies8)

env_df_dailies9 = pd.read_csv("Data/Dailies/5march.csv")
env_df_dailies9 = env_df_dailies9.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies9)

env_df_dailies10 = pd.read_csv("Data/Dailies/5june.csv")
env_df_dailies10 = env_df_dailies10.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies10)

env_df_dailies11 = pd.read_csv("Data/Dailies/5sept.csv")
env_df_dailies11 = env_df_dailies11.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies11)

env_df_dailies12 = pd.read_csv("Data/Dailies/5december.csv")
env_df_dailies12 = env_df_dailies12.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies12)

env_df_dailies13 = pd.read_csv("Data/Dailies/6march.csv")
env_df_dailies13 = env_df_dailies13.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies13)

env_df_dailies14 = pd.read_csv("Data/Dailies/6june.csv")
env_df_dailies14 = env_df_dailies14.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies14)

env_df_dailies15 = pd.read_csv("Data/Dailies/6sept.csv")
env_df_dailies15 = env_df_dailies15.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies15)

env_df_dailies16 = pd.read_csv("Data/Dailies/6dec.csv")
env_df_dailies16 = env_df_dailies16.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies16)

env_df_dailies17 = pd.read_csv("Data/Dailies/7march.csv")
env_df_dailies17 = env_df_dailies17.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies17)

env_df_dailies18 = pd.read_csv("Data/Dailies/7june.csv")
env_df_dailies18 = env_df_dailies18.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies18)

env_df_dailies19 = pd.read_csv("Data/Dailies/7sept.csv")
env_df_dailies19 = env_df_dailies19.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies19)

env_df_dailies20 = pd.read_csv("Data/Dailies/7dec.csv")
env_df_dailies20 = env_df_dailies20.drop(["CIMIS Region", "Jul", "qc", "qc.1", "qc.2", "qc.3", "qc.4", "qc.5", "qc.6", "qc.7", "qc.8", "qc.9", "qc.10", "qc.11", "Wind Run (miles)","qc.12", "qc.13"], axis=1)
env_df_dailies = env_df_dailies.append(env_df_dailies20)

env_df_dailies

,Stn Id,Stn Name,Date,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Avg Soil Temp (F)
0,2,FivePoints,1/1/2013,0.05,0.00,205.0,6.4,51.0,30.0,39.8,92.0,55.0,77.0,33.1,4.7,47.6
1,2,FivePoints,1/2/2013,0.05,0.00,233.0,6.1,55.4,26.9,38.6,92.0,48.0,76.0,31.9,3.0,47.0
2,2,FivePoints,1/3/2013,0.05,0.00,231.0,6.0,55.6,25.8,38.6,93.0,48.0,75.0,31.4,3.0,46.4
3,2,FivePoints,1/4/2013,0.05,0.00,220.0,6.5,55.4,27.1,40.2,94.0,52.0,77.0,33.5,3.0,46.1
4,2,FivePoints,1/5/2013,0.04,0.18,189.0,7.5,55.2,30.3,43.0,95.0,56.0,80.0,37.1,4.2,46.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12875,253,Pescadero,12/27/2017,0.06,0.00,225.0,9.0,64.7,34.1,45.3,98.0,60.0,87.0,41.8,3.2,47.4
12876,253,Pescadero,12/28/2017,0.06,0.00,250.0,8.6,67.3,33.1,45.2,98.0,50.0,84.0,40.7,2.1,46.6
12877,253,Pescadero,12/29/2017,0.06,0.00,245.0,7.7,70.1,34.1,46.3,95.0,39.0,72.0,37.9,2.5,46.3
12878,253,Pescadero,12/30/2017,0.06,0.00,212.0,8.1,66.2,33.0,45.2,96.0,47.0,79.0,39.0,2.2,45.9
12879,253,Pescadero,12/31/2017,0.03,0.00,141.0,10.1,60.4,37.3,48.2,94.0,74.0,88.0,44.7,2.8,46.9

In [80]:
env_df_complete = env_df_dailies
env_df_complete

,Stn Id,Stn Name,Date,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Avg Soil Temp (F)
0,2,FivePoints,1/1/2013,0.05,0.00,205.0,6.4,51.0,30.0,39.8,92.0,55.0,77.0,33.1,4.7,47.6
1,2,FivePoints,1/2/2013,0.05,0.00,233.0,6.1,55.4,26.9,38.6,92.0,48.0,76.0,31.9,3.0,47.0
2,2,FivePoints,1/3/2013,0.05,0.00,231.0,6.0,55.6,25.8,38.6,93.0,48.0,75.0,31.4,3.0,46.4
3,2,FivePoints,1/4/2013,0.05,0.00,220.0,6.5,55.4,27.1,40.2,94.0,52.0,77.0,33.5,3.0,46.1
4,2,FivePoints,1/5/2013,0.04,0.18,189.0,7.5,55.2,30.3,43.0,95.0,56.0,80.0,37.1,4.2,46.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12875,253,Pescadero,12/27/2017,0.06,0.00,225.0,9.0,64.7,34.1,45.3,98.0,60.0,87.0,41.8,3.2,47.4
12876,253,Pescadero,12/28/2017,0.06,0.00,250.0,8.6,67.3,33.1,45.2,98.0,50.0,84.0,40.7,2.1,46.6
12877,253,Pescadero,12/29/2017,0.06,0.00,245.0,7.7,70.1,34.1,46.3,95.0,39.0,72.0,37.9,2.5,46.3
12878,253,Pescadero,12/30/2017,0.06,0.00,212.0,8.1,66.2,33.0,45.2,96.0,47.0,79.0,39.0,2.2,45.9
12879,253,Pescadero,12/31/2017,0.03,0.00,141.0,10.1,60.4,37.3,48.2,94.0,74.0,88.0,44.7,2.8,46.9

In [81]:
env_df_complete = env_df_complete.append(env_df)
env_df_complete

,Stn Id,Stn Name,Date,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Avg Soil Temp (F)
0,2,FivePoints,1/1/2013,0.05,0.00,205.0,6.4,51.0,30.0,39.8,92.0,55.0,77.0,33.1,4.7,47.6
1,2,FivePoints,1/2/2013,0.05,0.00,233.0,6.1,55.4,26.9,38.6,92.0,48.0,76.0,31.9,3.0,47.0
2,2,FivePoints,1/3/2013,0.05,0.00,231.0,6.0,55.6,25.8,38.6,93.0,48.0,75.0,31.4,3.0,46.4
3,2,FivePoints,1/4/2013,0.05,0.00,220.0,6.5,55.4,27.1,40.2,94.0,52.0,77.0,33.5,3.0,46.1
4,2,FivePoints,1/5/2013,0.04,0.18,189.0,7.5,55.2,30.3,43.0,95.0,56.0,80.0,37.1,4.2,46.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128120,262,Linden,9/14/2020,0.14,0.00,420.0,15.4,84.3,53.7,66.3,95.0,39.0,70.0,56.2,3.4,69.4
128121,262,Linden,9/15/2020,0.15,0.00,430.0,15.1,86.8,49.6,66.0,96.0,31.0,69.0,55.7,2.7,69.0
128122,262,Linden,9/16/2020,0.15,0.00,445.0,16.2,89.0,53.6,68.0,97.0,30.0,69.0,57.6,3.3,69.0
128123,262,Linden,9/17/2020,0.16,0.00,447.0,16.6,88.1,53.3,70.4,97.0,35.0,65.0,58.3,3.3,69.5
128124,262,Linden,9/18/2020,0.14,0.00,395.0,16.1,81.6,54.7,68.4,95.0,36.0,68.0,57.4,4.0,70.5

In [84]:
# ADD THE "YEAR" COLUMN TO THE DATABASE
env_df_complete["Year"] = pd.DatetimeIndex(env_df_complete["Date"]).year

In [85]:
env_df_complete

,Stn Id,Stn Name,Date,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Avg Soil Temp (F),Year
0,2,FivePoints,1/1/2013,0.05,0.00,205.0,6.4,51.0,30.0,39.8,92.0,55.0,77.0,33.1,4.7,47.6,2013
1,2,FivePoints,1/2/2013,0.05,0.00,233.0,6.1,55.4,26.9,38.6,92.0,48.0,76.0,31.9,3.0,47.0,2013
2,2,FivePoints,1/3/2013,0.05,0.00,231.0,6.0,55.6,25.8,38.6,93.0,48.0,75.0,31.4,3.0,46.4,2013
3,2,FivePoints,1/4/2013,0.05,0.00,220.0,6.5,55.4,27.1,40.2,94.0,52.0,77.0,33.5,3.0,46.1,2013
4,2,FivePoints,1/5/2013,0.04,0.18,189.0,7.5,55.2,30.3,43.0,95.0,56.0,80.0,37.1,4.2,46.3,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128120,262,Linden,9/14/2020,0.14,0.00,420.0,15.4,84.3,53.7,66.3,95.0,39.0,70.0,56.2,3.4,69.4,2020
128121,262,Linden,9/15/2020,0.15,0.00,430.0,15.1,86.8,49.6,66.0,96.0,31.0,69.0,55.7,2.7,69.0,2020
128122,262,Linden,9/16/2020,0.15,0.00,445.0,16.2,89.0,53.6,68.0,97.0,30.0,69.0,57.6,3.3,69.0,2020
128123,262,Linden,9/17/2020,0.16,0.00,447.0,16.6,88.1,53.3,70.4,97.0,35.0,65.0,58.3,3.3,69.5,2020
128124,262,Linden,9/18/2020,0.14,0.00,395.0,16.1,81.6,54.7,68.4,95.0,36.0,68.0,57.4,4.0,70.5,2020

In [86]:
active_stations_df = pd.read_csv("Data/Active_Fire_Stations.csv")
active_stations_df = active_stations_df.drop(["Status", "Name"], axis=1)

In [87]:
active_stations_df.head()

   Station ID  County
0           2  Fresno
1           5    Kern
2           6    Yolo
3           7  Fresno
4          12   Butte

In [88]:
env_df_complete = env_df_complete.merge(right=active_stations_df, left_on="Stn Id", right_on="Station ID").drop("Station ID", axis=1)

In [89]:
env_df_complete.head()

,Stn Id,Stn Name,Date,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Avg Soil Temp (F),Year,County
0,2,FivePoints,1/1/2013,0.05,0.00,205.0,6.4,51.0,30.0,39.8,92.0,55.0,77.0,33.1,4.7,47.6,2013,Fresno
1,2,FivePoints,1/2/2013,0.05,0.00,233.0,6.1,55.4,26.9,38.6,92.0,48.0,76.0,31.9,3.0,47.0,2013,Fresno
2,2,FivePoints,1/3/2013,0.05,0.00,231.0,6.0,55.6,25.8,38.6,93.0,48.0,75.0,31.4,3.0,46.4,2013,Fresno
3,2,FivePoints,1/4/2013,0.05,0.00,220.0,6.5,55.4,27.1,40.2,94.0,52.0,77.0,33.5,3.0,46.1,2013,Fresno
4,2,FivePoints,1/5/2013,0.04,0.18,189.0,7.5,55.2,30.3,43.0,95.0,56.0,80.0,37.1,4.2,46.3,2013,Fresno

In [90]:
env_df_complete = env_df_complete.groupby([ "County","Year"]).agg({
    "ETo (in)":"sum",
    "Precip (in)":"sum",
    "Sol Rad (Ly/day)" : "mean",
    "Avg Vap Pres (mBars)": "mean",
    "Max Air Temp (F)":"max",
    "Min Air Temp (F)":"min",
    "Avg Air Temp (F)":"mean",
    "Max Rel Hum (%)":"max",
    "Min Rel Hum (%)":"min",
    "Avg Rel Hum (%)":"mean",
    "Dew Point (F)":"mean",
    "Avg Wind Speed (mph)":"mean",
    "Avg Soil Temp (F)":"mean"
    
}).reset_index()
env_df_complete.head()

,County,Year,ETo (in),Precip (in),Sol Rad (Ly/day),Avg Vap Pres (mBars),Max Air Temp (F),Min Air Temp (F),Avg Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Rel Hum (%),Dew Point (F),Avg Wind Speed (mph),Avg Soil Temp (F)
0,Alameda,2013,100.47,8.37,428.300824,10.923077,103.4,20.9,57.320742,100.0,11.0,66.501381,45.552072,3.295330,60.827747
1,Alameda,2014,100.45,36.63,410.661180,11.995068,101.6,28.8,60.169136,100.0,7.0,67.193681,48.521291,3.413151,63.188630
2,Alameda,2015,99.20,23.46,412.090411,11.686575,103.7,25.1,59.291084,100.0,7.0,67.147383,47.722590,3.310137,62.709863
3,Alameda,2016,96.10,45.65,397.993160,11.668399,102.7,25.6,59.024624,99.0,9.0,68.483516,48.035852,3.323256,63.183721
4,Alameda,2017,95.80,51.34,367.372358,10.864332,111.1,26.6,57.836170,100.0,7.0,65.233788,45.000683,3.263166,60.903089

In [92]:
# FILL IN MISSING COUNTIES WITH COMPARABLE COUNTIES

# [name for name in env_df.values() if name in ["Placer", "Shasta", "Butte", "Marin", "Humboldt", "Merced", "Stanislaus", 
#                             "San Joaquin", "Alpine","Colusa","Fresno", "Colusa"] ]
change_list = ["Placer", "Shasta", "Butte", "Marin", "Humboldt", "Merced", "Stanislaus", 
                            "San Joaquin", "Alpine","Colusa","Fresno"]

new_name_list = [
    "Sierra", "Lassen", "Plumas", "San Francisco", "Del Norte",  "Mariposa", "Tuolumne", "Calaveras",
    "Mono", "Glenn", "Madera"
]

temp_env_df = env_df_complete[env_df_complete['County'].isin(change_list)]


for (name, new_name) in zip(change_list, new_name_list):
   
    temp_env_df["County"] = temp_env_df["County"].replace([name], new_name)
    
    
    
temp_env_df = temp_env_df.append(env_df_complete[env_df_complete['County'] == "Shasta"]).append(env_df_complete[env_df_complete['County'] == "Colusa"]).append(env_df_complete[env_df_complete['County'] == "Placer"])
temp_env_df["County"] = temp_env_df["County"].replace(["Shasta"], "Trinity")
temp_env_df["County"] = temp_env_df["County"].replace(["Colusa"], "Lake")
temp_env_df["County"] = temp_env_df["County"].replace(["Placer"], "Nevada")

# temp_env_df
env_df_complete = env_df_complete.append(temp_env_df)

/Users/amirshirazi/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [96]:
env_df_complete.columns

Index(['County', 'Year', 'ETo (in)', 'Precip (in)', 'Sol Rad (Ly/day)',
       'Avg Vap Pres (mBars)', 'Max Air Temp (F)', 'Min Air Temp (F)',
       'Avg Air Temp (F)', 'Max Rel Hum (%)', 'Min Rel Hum (%)',
       'Avg Rel Hum (%)', 'Dew Point (F)', 'Avg Wind Speed (mph)',
       'Avg Soil Temp (F)'],
      dtype='object')

In [94]:
# EXPORT THE ENVIRONMENTAL DATASET

env_df_complete.to_csv("Clean_Data/environment.csv")

In [ ]:
# ****** DATASET 3 : THE ELECTRICITY USAGE DATA *******

electric_df = pd.read_csv("Data/ElectricityByCounty CALIFORNIA Usage in Millions of kWh.csv")

In [ ]:
# Find the totals for each sector, and then drop that column.
electric_df = electric_df[electric_df["Sector"] == "Total"].drop(["Sector"], axis=1)

# Drop the years before 2013
electric_df = electric_df.iloc[:, :8]

In [ ]:
electric_df.head()

In [ ]:
# EXPORT THE ELECTRIC DATA

electric_df.to_csv("Clean_Data/electricity.csv")

In [ ]:
# ****** DATASET 4 : THE HOUSING DATA *******

housing_df = pd.read_csv("Data/housing.csv")

In [ ]:
housing_df = housing_df.drop(["housing_median_age", "total_rooms","total_bedrooms"], axis=1)
housing_df.head()

In [ ]:
# GET THE COUNTY FROM THE LONG/LAT PAIR

In [ ]:
housing_df = housing_df.groupby([ "longitude","latitude"]).agg({
    "population":"sum",
    "households":"sum",
    "median_income" : "mean",
    "median_house_value": "mean",
    "ocean_proximity":"min"
    
}).reset_index()

In [ ]:
housing_df

In [ ]:
housing_df.iloc[[2]]

In [ ]:
import googlemaps
def add_counties(housing_df):
    counties = []
    #     locator = Nominatim(user_agent="Google")
    gmaps = googlemaps.Client("AIzaSyDBBSBR4v4siDHgTi3cydOdgBljPoo9XAo")
    
    i = 0
    for (long, lat) in housing_df[["longitude", "latitude"]].values: 
        try:
            county_name = [result["short_name"] for result in gmaps.reverse_geocode((lat, long))[0]["address_components"] if result["types"][0] == "administrative_area_level_2"][0]
            counties.append(county_name)
        except:
            counties.append("NULL")
        if i % 1000 == 0 and i > 1:
            print(i)
        #             pd.DataFrame(counties).to_csv("counties"+str(i)+".csv")
        #             counties = []
        i+=1
        
    housing_df["County"] = counties
    
add_counties(housing_df)


# coordinates = 37.88, -122.23

# remove the print statements, make the writes 

# location = locator.reverse(coordinates)
# location.raw

In [ ]:
housing_df.head()

In [ ]:
# EXPORT THE HOUSING DATA

housing_df.to_csv("Clean_Data/housing.csv")

In [ ]:
# ANALYSIS TOOL TO LOOK AT OUTLIERS

def boxplot_it(df, column_number):
    print("THERE ARE {} NUMERICAL COLUMNS IN THIS DF AVAILABLE".format( len(df.select_dtypes(include='number').columns)) )
    number_df = pd.DataFrame(df.select_dtypes(include='number').iloc[:,column_number])
    [plt.boxplot(x=number_df[column].dropna(), labels=[column]) for column in number_df]

In [ ]:
boxplot_it(fire_df,4 )